<tr style="background-color: #99f7e0;">
	<td style="background-color: #aabee6;" rowspan="4">Cycle {{ cycle_id }}</td>
	<td>EV1</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td></td>
	<td>Fresh</td> 
	<td></td>
</tr>
<tr style="background-color: #70d4bb;">
	<td>EV2</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr style="background-color: #99f7e0;">
	<td>EV3</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>35kg</td>
	<td></td>
	<td></td>
</tr>
<tr style="background-color: #70d4bb; border-bottom: 2px solid #10b5b2;">
	<td>EV3</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td></td>
	<td>Out W</td>
	<td></td>
</tr>