<tr style="background-color: #99f7e0;">
		<td style="background-color: #aabee6; width: 12.5%;" rowspan="6">Cycle 1</td>
		<td>Gap</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="background-color: #70d4bb;">
		<td>Loading</td>
		<td>-</td>
		<td>-A</td>
		<td>-</td>
		<td>AA</td>
		<td>AA</td>
		<td></td>
	</tr>
	<tr style="background-color: #99f7e0;">
		<td>Water In</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td></td>
		<td></td>
		<td></td>
		
	</tr>
	<tr style="background-color: #70d4bb;">
		<td>Wash 1</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="background-color: #99f7e0;">
		<td>Chemical In</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td></td>
		<td></td>
		<td></td>
		
	</tr>
	<tr  style="background-color: #70d4bb; border-bottom: .15vw solid #10b5b2;" >
		<td>Water Out</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>