<div id = "sidebar_Database" class = "sidebar_Database" style = "display: none;">
<div class="topbar-batchList">
	<h1>DATABASE</h1>
	<select id = "drpDDatabase" class="user-dropdown">
		<option value="1" selected>6k Vessel 1</option>
		<option value="2">6k Vessel 2</option>
		<option value="3">6k Vessel 3</option>
		<option value="4">6k Vessel 4</option>
		<option value="5">8k Vessel 1</option>
		<option value="6">8k Vessel 2</option>
		<option value="7">12k Vessel 1</option>
		<option value="8">12k Vessel 2</option>
		<option value="9">Oven</option>
		<option value="10">Blender</option>
		<option value="11">Grinder</option>
	</select>
	<div id = "dateP2" class="date-period">
		<input type="text" id="from-date2" name="from-date" placeholder="From" onfocus="(this.type='date')"
           onblur="(this.type='text')">
		<input type="text" id="to-date2" name="to-date" placeholder="To" onfocus="(this.type='date')"
           onblur="(this.type='text')">
	</div>
</div>

<table id="tDatabase" class = "tSideBar" >
	<thead>
		<tr >
			<th>Date & Time</th>
			<th>Freq. SV</th>
			<th>Freq. PV</th>
			<th>Temperature</th>
			<th>Cycle</th>
			<th>User</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2024-01-15 12:24</td>
			<td>50 Hz</td>
			<td>108 °C</td>
			<td>Cycle 1</td>
			<td>Gap</td>
			<td>User 2</td>
		</tr>
		<tr>
			<td>2024-01-15 12:29</td>
			<td>51 Hz</td>
			<td>105 °C</td>
			<td>Cycle 3</td>
			<td>Loading</td>
			<td>User 3</td>
		</tr>
		<tr>
			<td>2024-01-15 12:34</td>
			<td>52 Hz</td>
			<td>101 °C</td>
			<td>Cycle 1</td>
			<td>Water In</td>
			<td>User 6</td>
		</tr>
		<tr>
			<td>2024-01-15 12:39</td>
			<td>45 Hz</td>
			<td>56 °C</td>
			<td>Cycle 1</td>
			<td>Water In</td>
			<td>User 1</td>
		</tr>
		<tr>
			<td>2024-01-15 12:44</td>
			<td>50 Hz</td>
			<td>67 °C</td>
			<td>Cycle 1</td>
			<td>Wash 1</td>
			<td>User 2</td>
		</tr>
		<tr>
			<td>2024-01-15 12:49</td>
			<td>50 Hz</td>
			<td>108 °C</td>
			<td>Cycle 1</td>
			<td>Wash 1</td>
			<td>User 1</td>
		</tr>
		<tr>
			<td>2024-01-15 12:54</td>
			<td>50 Hz</td>
			<td>108 °C</td>
			<td>Cycle 1</td>
			<td>Wash 1</td>
			<td>User 2</td>
		</tr>
		<tr>
			<td>2024-01-15 12:59</td>
			<td>50 Hz</td>
			<td>68 °C</td>
			<td>Cycle 1</td>
			<td>Wash 1</td>
			<td>User 1</td>
		</tr>
		<tr>
			<td>2024-01-15 13:04</td>
			<td>50 Hz</td>
			<td>57 °C</td>
			<td>Cycle 1</td>
			<td>Wash 1</td>
			<td>User 1</td>
		</tr>
		<tr>
			<td>2024-01-15 13:09</td>
			<td>50 Hz</td>
			<td>78 °C</td>
			<td>Cycle 1</td>
			<td>Wash 1</td>
			<td>User 2</td>
		</tr>
	</tbody>
</table>
</div>
