<div id = "sidebar_Settings" class = "sidebar_Settings" style = "display: none;">
	<div class="row112">
		<label class="row112L1" for="user">Set Users:</label>
		<input class="row112I" type="text" id="userInA" placeholder="User">
		<input class="row112I" type="text" id="passwordInA" placeholder="Password">
		<button class="row112B" id="add" onclick = "AddUserF()">Add</button>
		<button class="row112B" id="remove"  onclick = "RemoveUserF()">Remove</button>
	</div>
	<div class="row112">
		<label class="row112L1" for="user11">Refresh Time:</label>
		<input class="row112I" type="text" id="RefreshIn" placeholder="Time Seconds">
		<button class="row112B" id="add"  onclick = "SetTimerF()">Set</button>
	
	</div>
	<div class="row112"></div>
	<div class="row112"></div>
	<div class="row112"></div>
	<div class="row112"></div>
	<div class="row112"></div>
	<div class="row112"></div>
	<div class="row112"></div>
</div>
